---
import Layout from '../../layouts/AppLayout.astro';
---

<Layout>
    <main slot="body">
    <h2>Add CaFitem as a shortcut:</h2>
    <p>Chrome: Click on the three dots (located in the top right corner), then click on Cast, Save, and Share > Install Page as App</p>
    <p>Microsoft Edge: Click on the three dots (located in the top right corner), then click on More Tools > Apps > Install This Site as an App</p>
    <p>Firefox: Unsupported for now...</p>
    <p>Safari: In the menu bar (located at the top), click on Files > Add to Dock.</p>
  </main>
</Layout>